.cta {
  background: #00ff94;
  border: none;
  color: #000000;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 2px;
  margin-left: 10px;
  cursor: pointer;
  font-family: 'Montserrat';
}
